# Copy this file to terraform/<env>-config.env and fill in the empty values
# This file is copied to a GCP secret and read when starting the scheduler-zen service

SZ_DB_NAME=scheduler_zen
SZ_DB_USER=scheduler_zen
SZ_DB_PASS=
# SZ_DB_HOST is dynamically configured in `terraform/compute.tf`
SZ_DB_PORT=5432
SZ_LUM_CONTRACT_ADDRESS=
SZ_LUM_ACCOUNT_PRIVATE_KEY=
SZ_ALCHEMY_API_KEY=